/* technology */
.technology {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 35rem) {
  .technology {
    background-position: center center;
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .technology {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
}

/* technology layout */
.grid-container--technology {
  padding-top: 2rem !important;
  padding-inline: 0 !important;
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--technology > picture {
  grid-area: image;
  max-width: 100% !important;
}

.grid-container--technology > .number-indicators {
  grid-area: tabs;
}

.grid-container--technology > .technology-details {
  grid-area: content;
  margin-bottom: 2rem;
}

.technology-details h2 {
  color: hsl(var(--clr-white) / 0.5);
}

@media (min-width: 45em) {
  .grid-container--technology {
    padding-bottom: 0;
    align-items: center;
    align-self: center;
    justify-content: center;
    grid-template-areas:
      "title title"
      "image image"
      "tabs tabs"
      "content content";
  }
  .grid-container--technology {
    grid-template-columns: minmax(0, 37rem) minmax(0, 24rem);
  }
  .number-indicators > * {
    flex-direction: row !important;
  }
  .grid-container--technology > picture {
    max-width: 100% !important;
  }
  .grid-container--technology .number-title {
    justify-self: center !important;
  }
}

@media (min-width: 75em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
  }
  .grid-container--technology {
    grid-template-columns: minmax(1rem, 5rem) minmax(0, 5rem) minmax(0, 30rem) minmax(
        1rem,
        1fr
      );
    justify-items: start;
    grid-template-areas:
      ". title title ."
      ". tabs content image"
      ". tabs content image";
  }
  .number-indicators > * {
    flex-direction: row !important;
  }

  .grid-container--technology > picture {
    margin: 0 0 2rem 7rem;
  }
  .number-indicators > *:where(:not(:first-child)) {
    margin-top: 1rem;
  }
}
.number-indicators > * {
  font-family: var(--ff-serif);
  display: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 60px;
  height: 60px;
  color: #fff;
  cursor: pointer;
  border: 1px solid hsl(var(--clr-white) / 0.5);
  border-radius: 50%;
}
.number-indicators > *:where(:not(:last-child)) {
  margin-right: 2rem;
}

.number-indicators > *:hover,
.number-indicators > *:focus {
  border: 1px solid hsl(var(--clr-white) / 1) !important;
}

.number-indicators .active {
  background-color: hsl(var(--clr-white) / 1) !important;
  color: #0b0d19 !important;
}
